fastapi>=0.109.0
uvicorn>=0.27.0
pydantic>=2.6.0
email-validator
python-dotenv>=1.0.0
pwdlib[argon2]
cryptography
PyJWT
python-multipart
rapidfuzz
pinecone
google-generativeai
google-genai
requests
langgraph>=0.2.0
langchain-openai
motor
google-cloud-speech
elasticsearch
websockets
google-auth
